<mat-drawer-container class="app-container">
  <mat-drawer class="app-drawer" mode="side" opened>
    <mat-card class="portfolio-card" appearance="outlined">
      <mat-card-header class="portfolio-name">
        <mat-card-title>{{data.name}}</mat-card-title>
      </mat-card-header>
      <img mat-card-lg-image src="../Gobika_Photo.jpg" alt="Profile">
      <mat-card-content class="portfolio-short">
        <p>
          Hi, my name is {{data.name}} and I'm a {{data.designation}}. Welcome to my personal website!
        </p>
      </mat-card-content>
      <mat-card-content class="portfolio-list">
        <mat-list role="list">
          <mat-list-item role="listitem">
            <mat-icon matListItemIcon>person</mat-icon>
            <div matListItemTitle>About Me</div>
          </mat-list-item>
          <mat-list-item role="listitem">
            <mat-icon matListItemIcon>work</mat-icon>
            <div matListItemTitle>Project</div>
          </mat-list-item>
          <mat-list-item role="listitem">
            <mat-icon matListItemIcon>phone</mat-icon>
            <div matListItemTitle>Contact</div>
          </mat-list-item>
        </mat-list>        
      </mat-card-content>
      <mat-card-actions class="portfolio-action">
        <button mat-button (click)="onLinkedInClick('https://www.linkedin.com/in/gobika-s-1818b97b/')">LinkedIn</button>
        <button mat-button>Twitter</button>
        <button mat-fab extended>
          <mat-icon>public</mat-icon>
          <i class="fab fa-linkedin-in fa-2x" style="color: #0082ca;"></i>
        </button>
      </mat-card-actions>
    </mat-card>

  </mat-drawer>
  <mat-drawer-content>
    <div class="main-container">

    </div>
    {{data.shortNote}}
  </mat-drawer-content>
</mat-drawer-container>