.app-container {
    width: auto;
    height: 100%;
    background: #eee;

    .app-drawer {
        background: #6C51A4;
        color: #fff;

        .portfolio-card {
            max-width: 280px;
            border: none;

            .portfolio-name {
                display: inline;
                padding: 20px 20px 0;
                text-align: center;

                .mat-mdc-card-title {
                    font-weight: bolder;
                    font-size: 21px;
                    text-transform: uppercase;
                }
            }

            img {
                border-radius: 50% !important;
                margin: 10% auto;
            }

            .portfolio-short {
                font-family: cursive;
                font-size: 18px;
            }

            .portfolio-list {
                padding: 2rem;

                .mat-mdc-list-item {
                    padding: 10px;
                    font-size: 1.1em;

                    .mat-icon {
                        margin-right: 1em;
                    }
                }
            }

            .portfolio-action {
                position: fixed;
                bottom: 0;
                margin: 0 1.7em;
                button a {
                    color: white;
                }
            }
        }

    }
}

.main-container {
    padding: 3em;
    font-family: "Segoe UI";
    font-size: 20px;
    text-align: justify;
    color: gray;
    background-image: url("../../public/minimalist.jpg");
    background-size: 100%;
    background-size: cover;

    .title {
        color: #6C51A4;
    }

    .skills .mat-mdc-list-item {
        padding: 0.5em;
    }
}
