<mat-drawer-container class="app-container">
  <mat-drawer class="app-drawer" mode="side" opened>
    <mat-card class="portfolio-card" appearance="outlined">
      <mat-card-header class="portfolio-name">
        <mat-card-title>{{data.name}}</mat-card-title>
      </mat-card-header>
      <img mat-card-lg-image src="../Gobika_Photo.jpg" alt="Profile">
      <mat-card-content class="portfolio-short">
        <p>
          Hi, my name is {{data.name}} and I'm a {{data.designation}}. Welcome to my personal website!
        </p>
      </mat-card-content>
      <mat-card-actions class="portfolio-action">
        <button mat-button>
          <a href="../Gobika_Resume.pdf" target="_blank">View Resume</a>
        </button>

        <button mat-button>
          <a href="https://www.linkedin.com/in/gobika-s-1818b97b" target="_blank">LinkedIn</a>
        </button>
      </mat-card-actions>
    </mat-card>

  </mat-drawer>
  <mat-drawer-content>
    <div class="main-container">
      <h2 class="title">About Me</h2>
      <p>{{data.aboutMe}}</p>
      <h2 class="title">Skills</h2>
      <mat-list role="list" class="skills">
        <mat-list-item role="listitem">Languages: HTML, CSS, JavaScript</mat-list-item>
        <mat-list-item role="listitem">Frameworks: Angular, React</mat-list-item>
        <mat-list-item role="listitem">Tools & Technologies: Git, Webpack, Sass, TypeScript, npm</mat-list-item>
        <mat-list-item role="listitem">Other: Responsive Design, Cross-Browser Compatibility, UI/UX Best
          Practices</mat-list-item>
      </mat-list>
    </div>
  </mat-drawer-content>
</mat-drawer-container>